.board-container {
    grid-area: board;

    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    max-height: 600px;
}

.board-container-inner {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 3px solid black;
    aspect-ratio: 1;
}

.iui-text-headline {
    margin: 0px;
}