.dark {
    background-color: rgb(111, 143, 114);
}

.light {
    background-color: rgb(173, 189, 143);
}

.highlight {
    background-color: rgba(149, 235, 141, 0.8);
}

.board-container-square {
    aspect-ratio: 1;
}